@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to bottom right, #1f2937, #111827);
  --foreground: #e5e7eb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#__next {
  width: 100%;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}
